.panel {
    width: 90vw;
    height: 100px;
    border: 1px solid green;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.add, .sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.newTask {
    width: 18em;
    height: 3em;
    margin-right: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    resize: none;
}

.taskTable {
    width: 90vw;
    height: 100vh;
    border: 1px solid green;
}

button {
    width: 10em;
    height: 2.5em;
    font-size: 1em;
    color: white;
    border: none;
    border-radius: 5px;
}

.addButton {
    background-color: green;
}

.clear {
    border: 1px solid green;
    background-color: #fffee4;
    color: green;
}

.clear:hover {
    border: none;
    background-color: green;
    color: white;
    transition: 1s;
}

.select {
    margin-left: 15px;
    width: 18em;
    height: 3em;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    padding: 12px 0;
    background-color: green;
    color: white;
    text-align: center;
    border: 1px solid #ddd;
}

.table td {
    padding: 8px 0;
    border: 1px solid #ddd;
    text-align: center;
}


.red, .green {
    width: 6em;
    height: 2em;
    font-size: 1em;
    font-weight: 600;
}

.red {
    background-color: #ff4308;
}

.green {
    background-color: #00cb26;
}

.red:hover {
    background-color: red;
}

.green:hover {
    background-color: green;
}

.buttons {
    display: flex;
    justify-content: space-around;
}


